################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
*.v2
*.vsidx
*.suo
/SyntheticDataGenerator/Generator.Common/obj
/SyntheticDataGenerator/Gererator.SqlServer/obj
/SyntheticDataGenerator/Generator.Common/bin/Debug/net8.0
/SyntheticDataGenerator/Gererator.SqlServer/bin/Debug/net8.0
/SyntheticDataGenerator/SyntheticDataGenerator/bin/Debug/net8.0/SyntheticDataGenerator.dll
/SyntheticDataGenerator/SyntheticDataGenerator/bin/Debug/net8.0/SyntheticDataGenerator.exe
/SyntheticDataGenerator/SyntheticDataGenerator/bin/Debug/net8.0/SyntheticDataGenerator.pdb
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/apphost.exe
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/ref/SyntheticDataGenerator.dll
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/refint/SyntheticDataGenerator.dll
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/SyntheticDataGenerator.assets.cache
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/SyntheticDataGenerator.csproj.AssemblyReference.cache
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/SyntheticDataGenerator.csproj.CoreCompileInputs.cache
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/SyntheticDataGenerator.csproj.FileListAbsolute.txt
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/SyntheticDataGenerator.dll
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/SyntheticDataGenerator.GeneratedMSBuildEditorConfig.editorconfig
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/SyntheticDataGenerator.genruntimeconfig.cache
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/SyntheticDataGenerator.pdb
/SyntheticDataGenerator/SyntheticDataGenerator/obj/Debug/net8.0/SyntheticDataGenerator.sourcelink.json
/SyntheticDataGenerator/SyntheticDataGenerator/obj/project.assets.json
/SyntheticDataGenerator/SyntheticDataGenerator/obj/project.nuget.cache
/SyntheticDataGenerator/SyntheticDataGenerator/obj/SyntheticDataGenerator.csproj.nuget.dgspec.json
/SyntheticDataGenerator/SyntheticDataGenerator/obj/SyntheticDataGenerator.csproj.nuget.g.props
